<ion-view title="Take One" hide-nav-bar="false">
    <ion-content padding="true">
       <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=GIF%20Recording%20Here&w=350&h=250">
       <br>
       <br>
       <center>
       <div class="row">
  <div class="col">       <div class="round-button"><div class="round-button-circle"><a href="http://example.com" class="round-button">Gifs</a></div></div></div>
  <div class="col">       <div class="round-button"><div class="round-button-circle"><a href="http://example.com" class="round-button">Albums</a></div></div></div>
</div>
</center>
    </ion-content>
</ion-view>
